*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: var(--heading-font-family);
}
:root{
    --color-white: #fff; 
    --heading-font-family: Arial, Helvetica, sans-serif;
    --theme-primary: #45f882;
    --theme-secondary: #ffbe18;
    --bg-primary: #0f161b;
    --color-gray: #182029;
    --color-black: #0b0e13;
    --body-color: #adb0bc;
    --boder-gray: rgba(76, 76, 76, 0.5);
}
.align-center{
    align-items: center;
}
ul{
    list-style: none;
}
@keyframes expan{
    to{
        width: 100%;
    }
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes slide-in-right{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes slide-in-top{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes rotate-45deg{
    to{
        transform: rotateZ(-45deg);
    }
}
@keyframes translateX-10px{
    to{
        transform: translateX(10px);
    }
}
@keyframes nullToFull{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}



::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #ccc;
  }
  
  ::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(left, #485563, #29323c);
    border-radius: 10px;
  }
  